<?xml version="1.0" encoding="UTF-8"?>
<!-- status=debug 可 以查看log4j的装配过程级别有8个  ALL,TRACE, DEBUG, INFO, WARN, ERROR ,FATAL,OFF,如果monitorInterval设置为0或负数,不会对配置变更进行监测-->
<configuration status="warn" monitorInterval="1800" shutdownHook="disable">
    <properties>
        <!-- windows环境下需要此变量 -->
        <property name="SERVER_BUS_ID">0.0.0.0</property>
        <property name="SERVER_NAME">gamesvr</property>
        <property name="LOG_HOME">../log/${sys:SERVER_BUS_ID}</property>
    </properties>
    <appenders>
        <!-- 定义控制台输出-->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line]%X{traceId} - %msg%n"/>
        </Console>
        <!-- 程序员调试日志 -->
        <RollingRandomAccessFile name="DevLog" fileName="${LOG_HOME}/${SERVER_NAME}"
                                 filePattern="${LOG_HOME}/${SERVER_NAME}.%d{yyyy-MM-dd-HH}.log" immediateFlush="false">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line]%X{traceId} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
        <!-- 程序员调试异常日志 -->
        <RollingRandomAccessFile name="ErrorLog" fileName="${LOG_HOME}/error"
                                 filePattern="${LOG_HOME}/error.%d{yyyy-MM-dd}.log" immediateFlush="false">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line]%X{traceId} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
        <!-- 性能统计日志 -->
        <RollingRandomAccessFile name="PERF_StatLog" fileName="${LOG_HOME}/perf_stat_log"
                                 filePattern="${LOG_HOME}/perf_stat_log.%d{yyyy-MM-dd}.log" immediateFlush="false">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
        <!-- 经分流水日志 -->
        <RollingRandomAccessFile name="QlogFlowLog" fileName="${LOG_HOME}/qlog_flow_log"
                                 filePattern="${LOG_HOME}/qlog_flow_log.%d{yyyy-MM-dd}.log" immediateFlush="false">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %msg%n"/>M
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
    </appenders>
    <loggers>
        <!-- 3party Loggers -->
        <Logger name="org.springframework" level="warn">
        </Logger>
        <Logger name="io.netty" level="warn">
        </Logger>
        <Logger name="org.apache.http" level="warn" additivity="false">
        </Logger>
        <Logger name="org.apache.commons" level="warn">
        </Logger>
        <Logger name="com.mchange.v2" level="warn">
        </Logger>
        <Logger name="com.alibaba.nacos" level="warn">
        </Logger>
        <Logger name="org.reflections" level="warn">
        </Logger>
        <Logger name="java.sql" level="warn">
        </Logger>
        <Logger name="io.jaegertracing" level="info" includeLocation="true">
        </Logger>
        <Logger name="com.tencent.tcaplus" level="warn" includeLocation="true">
        </Logger>
        <!-- perf Stat -->
        <Logger name="PERF_StatLog" level="info" additivity="false">
            <appender-ref ref="PERF_StatLog"/>
        </Logger>
        <!-- qlog -->
        <Logger name="QlogFlowLog" level="info" additivity="false">
            <appender-ref ref="QlogFlowLog"/>
        </Logger>
        <!-- Root Logger -->
        <Root level="DEBUG" includeLocation="true">
            <!-- 线上把该节点改成INFO -->
            <appender-ref ref="DevLog" level="DEBUG"/>
            <!-- 线上该节点保持ERROR -->
            <appender-ref ref="ErrorLog" level="ERROR"/>
            <!-- 线上把该节点去掉 -->
            <appender-ref ref="Console" level="DEBUG"/>
        </Root>
    </loggers>
</configuration>