# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.project
/gamioo-log/.project
/gamioo-log/.classpath
/gamioo-ioc/.project
/gamioo-ioc/.classpath
/gamioo-game/.classpath
/gamioo-game/.project
/gamioo-compress/.classpath
/gamioo-compress/.project
/gamioo-compress/.settings/*.prefs
/gamioo-cache/.classpath
/gamioo-cache/.project
/gamioo-cache/.settings/org.eclipse.buildship.core.prefs
