# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.project
/gamioo-log/.project
/gamioo-log/.classpath
/gamioo-ioc/.project
/gamioo-ioc/.classpath
/gamioo-game/.classpath
/gamioo-game/.project
/gamioo-compress/.classpath
/gamioo-compress/.project
/gamioo-compress/.settings/*.prefs
/gamioo-cache/.classpath
/gamioo-cache/.project
/gamioo-cache/.settings/org.eclipse.buildship.core.prefs
/测试结果 -BeanFactoryTest.html
/gamioo-beans/.settings/*.prefs
/.idea
/gamioo-beans/.project
/gamioo-beans/.classpath
/gamioo-pomelo/out/production/classes/com/zvidia/pomelo/exception/*.class
/gamioo-pomelo/out/production/classes/com/zvidia/pomelo/protobuf/*.class
/gamioo-pomelo/out/production/classes/com/zvidia/pomelo/protocol/*.class
/gamioo-pomelo/out/production/classes/com/zvidia/pomelo/utils/*.class
/gamioo-pomelo/out/production/classes/com/zvidia/pomelo/websocket/*.class
/gamioo-pomelo/out/production/classes/io/gamioo/pomelo/*.class
/gamioo-pomelo/out/production/classes/org/java_websocket/drafts/*.class
/gamioo-pomelo/out/production/resources/log4j2.component.properties
/gamioo-pomelo/out/production/resources/log4j2.xml
/gamioo-sandbox/src/jmh/generated
